---
import Base from "@layouts/Base.astro";
import BigNumberItem from "@components/BigNumberItem.astro";
import TeamMemberCard from "@components/TeamMemberCard.astro";
import FaqItem from "@components/FaqItem.astro";

import { Image } from "astro:assets";

import heroImg from "../assets/images/hero-image.jpg";
import whatImg from "../assets/images/what-img.jpg";
import howImg from "../assets/images/how-image.jpg";
import helloImg from "../assets/images/hello-image.jpg";
import handImg from "../assets/images/hand-image.jpg";
---

<Base title="This is the home page">
  <section class="hero-section">
    <Image
      src={heroImg}
      width={1500}
      alt="This is a background image"
      class="hero-img"
    />
    <div class="main-container">
      <div class="hero_comp">
        <h1>Developing awe-inspiring designs</h1>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis.Suspendisse varius enim
        </p>
        <a href="/">View more</a>
      </div>
    </div>
  </section>
  <section>
    <div class="main-container">
      <div class="what_comp">
        <div class="what_top">
          <Image src={whatImg} width={1500} alt="This is a background image" />
          <div class="what_content">
            <h2 class="overline">what we do</h2>
            <h3 class="x-hs-medium">
              Unlocking your brand's full potential through strategic
              improvements
            </h3>
            <img src="../../src/assets/quote.png" alt="quote" />
            <p>
              Every startup has a story, and design is the eloquent narrator
              that captivates audiences.
            </p>
          </div>
        </div>
        <div class="what_big-numbers-grid">
          <BigNumberItem number="25k" text="Completed Projects" />
          <BigNumberItem number="95%" text="Happy Costumer" />
          <BigNumberItem number="70+" text="Clients Overall" />
          <BigNumberItem number="3X" text="Yearly Growth" />
        </div>
      </div>
    </div>
  </section>
  <section class="section-gray-dark">
    <div class="main-container">
      <div class="how_comp">
        <h2 class="x-hs-medium">How it works</h2>
        <Image src={howImg} width={1500} alt="This is a background image" />
      </div>
    </div>
  </section>
  <section>
    <div class="main-container">
      <div class="team_comp">
        <h2 class="overline">OUR TEAM</h2>
        <h3 class="x-hs-medium">Triumphant alliance</h3>
        <div class="team_grid">
          <TeamMemberCard
            name="Jack"
            email="renata@lol.com"
            role="Support"
            img="blabla"
            facebook="jack"
          />
          <TeamMemberCard
            name="Roberto"
            email="renata@lol.com"
            role="Support"
            img="blabla"
          />
          <TeamMemberCard
            name="Renata"
            email="renata@lol.com"
            role="Support"
            img="blabla"
            linkedin="renata"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section-gray-dark">
    <div class="main-container">
      <div class="faq_comp">
        <h2 class="x-hs-medium">Faq</h2>
        <div class="faq_grid">
          <FaqItem
            title="What is the typical timeline for completing a design project?"
            text="orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt."
          />
          <FaqItem
            title="Can you work within specific budget constraints?"
            text="orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt."
          />
          <FaqItem
            title="Do you offer any additional services such as branding or marketing strategy?"
            text="orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt."
          />
          <FaqItem
            title="Can you provide examples of your previous design projects?"
            text="orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt."
          />
          <FaqItem
            title="How do you stay updated on the latest design trends and technologies?"
            text="orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt."
          />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="main-container">
      <div class="blog_comp">
        <h2 class="x-hs-medium">Blog</h2>
        <div class="blog_grid">
          <a class="blog_card" href="">
            <div class="absolute-title">
              <p>November 7, 2023 • Desing</p>
              <h3>The Symphony of Colors</h3>
            </div>
            <Image src={helloImg} width={500} alt="" class="blog_image" /></a
          >
          <a class="blog_card" href="">
            <div class="absolute-title">
              <p>February 23, 2024 • Desing</p>
              <h3>Artistry of Digital Spaces</h3>
            </div>
            <Image src={handImg} width={500} alt="" class="blog_image" /></a
          >
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="main-container">
      <div class="sub_comp">
        <h2 class="x-hs-medium">Get in Touch</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique duis</p>
        <div class="sub_email"></div>
      </div>
    </div>
  </section>
</Base>

<style>
  body {
    height: 500vh;
  }

  .hero-section {
    position: relative;
    clip-path: inset(0);
    min-height: 100vh;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .hero_comp {
      padding: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h1 {
        font-size: clamp(2.5rem, 5vw + 3rem, 10rem);
        word-spacing: 100vw;
        letter-spacing: -0.03em;
        line-height: 1.1;
        margin-bottom: 0.5em;
      }

      & p {
        max-width: 40ch;
        margin-bottom: 2em;
      }

      & a {
        font-size: 1.15em;
        color: black;
        padding: 0.5em 3.5em;
        background-color: white;
        font-weight: 600;
        border-radius: 0.15em;
        text-transform: uppercase;

        letter-spacing: 0.05em;

        transition:
          background-color 0.5s,
          color 0.5s;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .hero-img {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  :root {
    --custom-spacing: 2.5em;
  }

  .what_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--custom-spacing);

    & > img {
      height: 25em;
    }

    & .what_content {
      display: flex;
      flex-direction: column;
      gap: 1.5em;

      & img {
        width: 65px;
        height: 65px;
      }

      & p {
        max-width: 45ch;
      }
    }
  }

  .what_big-numbers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--custom-spacing);
    margin-top: calc(1.5 * var(--custom-spacing));
  }

  .team_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--custom-spacing);
  }

  .team_comp {
    display: grid;
    gap: 1.5em;

    & h3 {
      margin-bottom: 1.5em;
    }
  }

  .faq_comp {
    & .x-hs-medium {
      margin-bottom: 1.5em;
    }
  }

  .faq_grid {
    display: grid;
    gap: 1.5em;
  }

  .blog_comp {
    & h2 {
      margin-bottom: 1.5em;
    }

  }

  .blog_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.5em;
  }

  .blog_card {
    position: relative;

    & h3 {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2em;
    }

    p {
      font-size: 16px;
    }
  }
  .absolute-title {
    position: absolute;
    text-align: center;
    background-color: white;
    padding: 15px 20px;
    top: 10px;
    left: 15px;
    right: 15px;
  }

  .blog_image {
    height: 100%;
    width: 100%;
  }
   
  .sub_comp {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;

    & h2 {
      font-size: 55px;
    }

     & p {
      max-width: 40ch;
      font-size: 18px;
      font-weight: 500;
     }
  }

  @media screen and (max-width: 997px) {
    .team_grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .what_top {
      grid-template-columns: 1fr;
    }

    .what_big-numbers-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .how_comp {
    & .x-hs-medium {
      margin-bottom: 1.5em;
    }

    & img {
      max-height: clamp(10rem, 35vw + 6rem, 40rem);
    }
  }

  @media screen and (max-width: 570px) {
    .what_big-numbers-grid {
      grid-template-columns: 1fr;
    }

    .team_grid {
      grid-template-columns: 1fr;
    }
  }
</style>
